@import '../Assets/base.scss';

.container{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    flex: 1;


    header{

        position: relative;
        display: flex;
        justify-content: space-between;
        height: 30vh;
        background-color: $blue2;
        width: 100%;
        z-index: -1;
        background-image: url('../Assets/img/guitar.png');

        .headerText{
            padding: 50px 0px 0px 200px;
            width: 50%;

            h2{
                color: $white;
            }

            h4{
                color: $white;
                font-weight: $font-weight-thin;
            }

        }

        
        .overlay{
            background-color: rgba($color: #000000, $alpha: 0.5);
            position: absolute;
            width: 100%;
            z-index: 999;
            height: 30vh;
            background: rgb(29,62,83);
            background: linear-gradient(90deg, rgba(33,67,89,1)  0%, rgba(29,62,83,0) 100%);
            z-index: -1;
        }
    }

    .pageContent{
        padding: 40px 50px;

        .quickFilter{
            color: $blue;
            font-weight: $font-weight-thin;
            text-align: center;
        }

        hr{
            border-top: 1px solid $aqua;
        }

        .quickFilterContainer{
            display: flex;
            justify-content:space-evenly;
            margin-bottom: 2%;
        }

        .row{
            display: flex;
            grid-template-columns: auto;
            margin-top: 1%;

            .productsContainer{
                overflow-y: scroll;
                display: grid;
                grid-template-columns: 25% 25% 25%;
                padding: 10px;
                justify-content:space-evenly;
                margin-top: 5%;
                max-height: 700px;
                width: 80%;
            }
        }


    }
}
