@import '../../../Assets/base.scss';


// Login Input Styling
.primary{
    padding: 4%;
    border: 2px solid $aqua;
    color: $aqua;
    font-size: $heading5;
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 50px;
}

.primary::placeholder{
    color: $blue3;
    font-style: italic;
}

.primary:focus{
    background-color: white;
    outline: none;
    border: 2px solid $white;
}

.primary:hover{
    border: 2px solid $white;
}

.secondary{
    padding: 3%;
    border: 2px solid $blue;
    color: $aqua;
    font-size: $heading5;
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 50px;
}

.secondary::placeholder{
    color: $blue3;
    font-style: italic;
}

.secondary:focus{
    background-color: white;
    outline: none;
    border: 2px solid $white;
}

.secondary:hover{
    border: 2px solid $white;
}

.searchInput{
    width: 18%;
    padding: 3.2% 5%;
    border: 2px solid $aqua;
    color: $aqua;
    font-size: $heading5;
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    transition: 0.2s ease-in-out;
    height: 4.7%;
}

.searchInput::placeholder{
    color: $blue3;
    font-style: italic;
}

.searchInput:focus{
    outline: none;
    border: 2px solid $white;
}

.searchInput:hover{
    border: 2px solid $white;
}

.filterInput{
    width: 75%;
    padding: 5%;
    border: 2px solid $aqua;
    color: $aqua;
    font-size: $heading5;
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    transition: 0.2s ease-in-out;
    margin: 2%;
}

.filterInput::placeholder{
    color: $blue3;
    font-style: italic;
}

.filterInput:focus{
    outline: none;
    border: 2px solid $white;
}

.filterInput:hover{
    border: 2px solid $white;
}

.priceSlider{
    -webkit-appearance: none;
    height: 3px;
    background: $white;
    border-radius: 5px;
    outline: none;
    border: none;

    &::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 20px;
        width: 20px;
        background: $white;
        border-radius: 50%;
        cursor: pointer;
    }
}

.paymentInput{
    width: 70%;
    padding: 2%;
    border: 2px solid $aqua;
    color: $aqua;
    font-size: $heading5;
    background-color: transparent;
    border-radius: 50px;
    width: 100%;
    transition: 0.2s ease-in-out;
    margin: 10px 10px 32px 10px;
}

.paymentInput::placeholder{
    color: $blue3;
    font-style: italic;
}

.paymentInput:focus{
    outline: none;
    border: 2px solid $white;
}

.paymentInput:hover{
    border: 2px solid $white;
}

.modalInput{
    background-color: transparent;
    width: 30%;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid $white;
    outline: none;
    border-radius: 20px;
    margin-right: 5px;
    transition: 0.2s ease-in-out;
    color: $aqua;

    &:hover{
        background-color: $white;
    }

    &:focus{
        background-color: $white;
    }

    &::placeholder{
        font-style: italic;
    }
}

.longInput{
    background-color: transparent;
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
    border: 1px solid $white;
    outline: none;
    border-radius: 20px;
    margin-right: 5px;
    transition: 0.2s ease-in-out;
    color: $aqua;

    &:hover{
        background-color: $white;
    }

    &:focus{
        background-color: $white;
    }

    &::placeholder{
        font-style: italic;
    }
}

